{{#if addNewCity}}
  <h1>New City</h1>
    <div class="new_rental">
      <form>
        <div class="form-group">
          <label for="name">Enter City</label>
          {{input value=name id="name"}}
        </div>
        <div class="form-group">
          <label for="country">Enter Country</label>
          {{input value=country id="country"}}
        </div>
        <div id="save">
        <button {{action 'saveOne'}}>Save</button>
        </div>
      </form>
    </div>
{{else}}
  <button {{action 'cityFormShow'}}>New City</button>
{{/if}}
